@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

body {
    height: 100%;
    overflow-y: scroll; /*Force vertical scrollbar*/
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.grid-container {
    display: flex;
    flex-direction: column;
}

/* Hero section ===========================================================================================================*/
.blurb-article {
    width: 30%;
}

.hero-section {
    background: #495e57;
    width: 100%;
    min-height: 40%;
    color: #fff;
    padding-top: 40px;
    margin-bottom: 80px;
}
.hero-content-section {
    position: relative;
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-content-section h1 {
    font-family: "Markazi Text", serif;
    font-size: 48pt;
    color: #f4ce14;
}
.hero-content-section h3 {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    color: #fff;
}
.hero-content-section p {
    color: #fff;
}

.hero-image-container {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 3.8 / 4;
    margin-top: 20px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 8px 16px #616578;
}
.hero-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.blurb-article {
    min-width: 40%;
}
/* Highlights section ======================================================================================================== */
.highlights-section {
    display: grid;
    grid-template-areas:
        "title ... button"
        "cards cards cards";
    width: 80vw;
    margin: 2% auto;
    padding-bottom: 2%;
    gap: 5%;
}
#highlights-title {
    grid-area: title;
}

.card-container {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15%;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #edefee;
    border-radius: 16px 16px 4px 4px;
    border: 1px solid #bbb;
    box-shadow: 2px 8px 16px #616578;
}
.title-price {
    display: flex;
    justify-content: space-between;
}

.delivery-image {
    height: 2rem;
    margin-left: 10px;
}
.price-text {
    color: #ee9972;
}
.card-image {
    border-radius: 16px 16px 0px 0px;
}
.card > *:not(img) {
    padding: 20px;
}
.delivery {
    display: flex;
}
/* Testimonials section ======================================================================================================== */

.testimonials-section {
    background: #333;
    width: 100vw;
    padding: 2% 0%;
}
.testimonials-content {
    display: grid;
    grid-template-areas:
        "testimonial-title-area ..."
        "testimonial-cards-area testimonial-cards-area";
    width: 80%;
    margin: 2% auto;
    grid-row-gap: 5%;
}
.testimonials-title {
    grid-area: testimonial-title-area;
    color: #fff;
}

.testimonial-card-container {
    width: 100%;
    margin: auto;
    grid-area: testimonial-cards-area;
    display: grid;
    column-gap: 4vw;
    grid-template-columns: repeat(4, auto);
}
.testimonial-card {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    background: #edefee;
    border-radius: 16px;
    border: 1px solid #bbb;
    padding: 20px;
    aspect-ratio: 1/1;
    overflow: hidden;
    box-shadow: 2px 8px 16px #000000;
}
.review-text {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review-stars {
    display: inline-flex;
}

.testimonial-profile {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}
.testimonial-profile h2 {
    margin-left: 10px;
}
.testimonial-card-image {
    width: 40%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* About section ========================================================================================================= */

.about-section {
    background: #edefee;
    width: 100vw;
    min-height: 40%;
    color: #fff;
    padding-top: 40px;
    margin-bottom: 80px;
}
.about-content-section {
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.about-content-section h1 {
    font-family: "Markazi Text", serif;
    font-size: 48pt;
    color: #333;
}
.about-content-section h3 {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    color: #333;
}
.about-content-section p {
    color: #333;
}

.about-image-container {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 3.8 / 4;
    margin-top: 20px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 8px 16px #616578;
}
.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.blurb-article {
    min-width: 40%;
}

/* Footer section ======================================================================================================== */

.footer {
    width: 80vw;
    margin: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    align-items: start;
    padding: 20px 0px 20px 0px;
}
.footer a {
    color: #333;
    font-weight: 500;
}
.footer li {
    color: #333;
    font-weight: 500;
}
.footer div {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.footer h3 {
    margin-bottom: 10px;
}
.footer-logo {
    height: 60px;
}

/* FORM=================================================================================== */

.form-section {
    display: flex;
    justify-content: center;
    background: #ccc;
    width: 100%;
    min-height: 40%;
    padding: 40px;
    margin-bottom: 80px;
}
.form-section h2 {
    font-family: "Markazi Text", serif;
    font-size: 24pt;
    color: #495e57;
}
.form-grid {
    display: grid;
    grid-template-areas:
        "form-heading-area ... ..."
        "first-name-area last-name-area email-area"
        "choose-date-area choose-time-area ..."
        "choose-guests-area choose-occasion-area ..."
        "... ... submit-button-area";

    width: 60vw;
    gap: 16px;
    padding: 40px;
    border: 1px solid #edefee;
    border-radius: 16px;
    justify-content: space-around;
    background: #fff;
    box-shadow: 2px 6px 20px #616578;
}

#form-heading {
    grid-area: form-heading-area;
}
#first-name {
    grid-area: first-name-area;
}
#last-name {
    grid-area: last-name-area;
}
#email {
    grid-area: email-area;
}

#choose-date {
    grid-area: choose-date-area;
}
#choose-time {
    grid-area: choose-time-area;
}
#choose-guests {
    grid-area: choose-guests-area;
}
#choose-occasion {
    grid-area: choose-occasion-area;
}

#submit-button {
    grid-area: submit-button-area;
}

fieldset {
    display: flex;
    width: 480px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
}

sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

input,
select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    padding: 0 8px;
}

.Field {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.FieldError {
    position: absolute;
    bottom: -6px;
    color: red;
    font-size: 12px;
}

button {
    padding: 12px 20px;
    width: auto;
    border: 0px;
    border-radius: 16px;
    background-color: #f4ce14;
    color: #495e57;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    justify-self: right;
}
button:hover,
button[hover] {
    background-color: #495e57;
    color: #fff;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
