/* Highlights section ======================================================================================================== */

.highlights-section {
    display: grid;
    grid-template-areas:
        "title ... button-area"
        "cards cards cards";

    width: 80vw;
    padding: 60px 0px;
    max-width: 1600px;
    margin: auto;
    gap: 6%;

    @media (max-width: 1000px) {
        height: auto;
        gap: 2%;
        margin: auto;
        grid-template-areas:
            "title ..."
            "button-area ..."
            "cards cards";
    }
}
#highlights-title {
    grid-area: title;
}

#highlights-menu-button {
    grid-area: button-area;
}
#highlights-menu-button:hover {
    background: #495e57;
    color: #fff;
}

.card-container {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
    margin: 0% auto 10% auto;
    align-items: space-between;
    @media (max-width: 1000px) {
        gap: 2%;

        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 80px 0px;
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card {
    height: 90%;
    display: flex;
    flex-direction: column;

    padding-bottom: 4%;
    align-items: space-between;
    background: #edefee;
    border-radius: 16px 16px 4px 4px;
    border: 1px solid #bbb;
    box-shadow: 2px 8px 16px #616578;
    @media (max-width: 1000px) {
        justify-self: center;
    }
    @media (max-width: 600px) {
        justify-self: center;
    }
}
.card-text {
    width: 100%;
    overflow: hidden;
    margin: 0 0 1em 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    line-height: 1.5;
    height: calc(1.5em * 6);
    @media (max-width: 600px) {
        -webkit-line-clamp: 1;
        line-clamp: 1;
        line-height: 1;
        max-height: calc(1.5em * 3);
    }
}
.title-price {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.delivery-image {
    height: 2rem;
    margin-left: 10px;
}
#price-text {
    color: #ee9972;
}
.card-image {
    border-radius: 16px 16px 0px 0px;
}
.card > *:not(img) {
    padding: 5%;
}
.delivery {
    display: flex;
}
