.testimonials-section {
    background: #333;
    width: 100%;
    padding: 4% 0;

    @media (max-width: 1000px) {
        padding: 6% 0;
    }
}
.testimonials-content {
    display: grid;
    grid-template-areas:
        "testimonial-title-area"
        "testimonial-cards-area";
    width: 80%;
    max-width: 1600px;
    margin: 4% auto;
    grid-row-gap: 5%;
}

.testimonials-card-container {
    width: 100%;
    grid-area: testimonial-cards-area;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    margin: 5% auto;
    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-bottom: 80px;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 3%;
    }
}

.testimonials-title {
    grid-area: testimonial-title-area;
    color: #fff;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: #edefee;
    border-radius: 16px;
    border: 1px solid #bbb;
    padding: 20px;
    box-shadow: 2px 8px 16px #000000;
    width: 100%;
    min-width: 120px;
    @media (max-width: 1000px) {
        width: 80%;
        justify-self: center;
    }
    @media (max-width: 600px) {
        width: 90%;
        justify-self: center;
    }
}
.review-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
    @media (max-width: 600px) {
        -webkit-line-clamp: 1;
        line-clamp: 1;
        line-height: 1.2;
        max-height: calc(1.2em * 3);
    }
}
.review-stars {
    display: inline-flex;
}
.stars {
    font-size: 12pt;
    display: inline-flex;
}
.review-stars h3 {
    margin-right: 1em;
}

.testimonial-profile {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}
.testimonial-profile h2 {
    margin-left: 10px;
}
.testimonial-card-image {
    width: 40%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    @media (max-width: 600px) {
        width: 20%;
    }
}
