@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 4px;
}

.nav-item:hover,
a:hover {
    text-decoration: underline;
    text-decoration-color: #f4ce14;
    text-decoration-thickness: 2px;
}

.nav-item-active {
    border-top: 2px solid #f4ce14;
    border-bottom: 2px solid #f4ce14;
}

.header-container {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
}

.header {
    display: grid;
    grid-template-areas: "logo ... nav";
    width: 80%;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@media (max-width: 1000px) {
    .header {
        justify-content: center;
        align-items: space-between;
        grid-template-areas:
            "logo"
            "nav";
    }
    .nav-bar {
        gap: 1em;
    }
}

.nav-bar {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-items: right;
    align-items: center;
    gap: 2em;
    margin: 4% 0;
}

.nav-bar a,
.nav-item {
    color: #333;
    font-weight: 500;
}
.header-logo {
    grid-area: logo;
    align-self: center;
}

.header-logo img {
    width: 80%;
    padding: 16px;
}
